@model IEnumerable<Crystal.Domain.Entidades.Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion.Calle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion.Calle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
